@charset "UTF-8";

/* Definição das Variáveis */

:root {
    --cor01: #8d5cf6;
    --cor02: #26335d;
    --cor_linha: #e74040;
}

/* Limpeza das configurações Padrões */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
    background-color: var(--cor02);
}

/* Configurações BANNER */

section#banner {
    background-image: url(/practica-layouts/Layout_concurso_Coding_Angola/assets/images/backgrounds/background.png);
    background-size: cover;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    padding: 20px;
    font-weight: bolder;
    font-size: 0.85em;
}

h1#logo {
    margin-left: 215px;
    color: white;
}

div#acesso {
    margin-left: 130px;
}

div#acesso button {
    font-size: 1em;
    background-color: #8d5cf6;
    border-color: var(--cor_fundo);
    border-radius: 10px;
    color: white;
    padding: 10px;
    width: 150px;
    border-style: none;
    font-weight: bold;
}

nav {
    margin-left: 100px;
}

nav ul {
    display: flex;
    list-style: none;
    background-color: #8d5cf662;
    border-radius: 20px;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 10px 0 10px;
}

nav a:hover {
    color: black;
}

/* Configuração da Área de Apresentação */

section#apresentacao {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 700px;
    margin-left: 215px;
}

section#apresentacao img {
    width: 670px;
    text-align: left;
}

section#apresentacao h1 {
    font-size: 3em;
    width: 650px;
    margin-bottom: 30px;
    color: white;
    font-weight: bolder;
}

.descricao_texto {
    color: white;
    margin: 20px 0;
    font-size: 1em;
    width: 600px;
}

.introducao_texto {
    color: var(--cor01);
    font-weight: bold;
}

.apresentacao_btn { /* Classe para os botões da Área de Apresentação */
    font-size: 1em;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
}

.apresentacao_btn:hover {
    color: black;
    border-color: black;
    transition: transform .3s, border .3s;
}

button {
    cursor: pointer;
}

/* ÁREA MAIN */

main a {
    color: var(--cor01);
    text-decoration: none;
    font-weight: bold;
}

main section {
    display: flex;
    margin: 150px 100px;
}

.card { /* Classe para as Divs que representam cartões com informações */
    width: 700px;
    height: 300px;
    padding: 50px;
    background-color: white;
    margin: 20px 0;
}

.card h3 {
    margin: 15px 0;
}

.card p {
    color: gray;
    margin-top: 20px;
}

.card_icon {
    width: 100px; 
    height: 100px; 
    text-align: left;
}

.under_card { /* Classe que representa cartões rebaixados */
    margin: 80px 50px 0 50px;
}

.line { /* Classe que representa as linhas decorativas usadas em algumas secções */
    background-color: var(--cor_linha);
    width: 100px;
    height: 10px;
}

.mini_line { /* Classe que representa as linhas menores usadas dentros dos cartões */
    width: 75px;
    height: 3px;
    margin: 20px 0;
    background-color: var(--cor_linha);
}

.sct_title {
    color: white;
    font-size: 2em;
    font-weight: bolder;
    margin: 30px 0;
}

/* Secção com Vídeo */

section#sct_video_live {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.video_container {
    width: 600px;
    height: 500px;
    margin-left: 100px;
}

.video_container video {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
    display: block;
}

section#sct_logos {
    display: flex;
    justify-content: center;
}

section#sct_logos img {
    width: 150px;
    color: white;
    margin: 0 20px 0 20px;
}

section#sct_practice_advice {
    flex-direction: column;
}