@charset "UTF-8";

:root {
    --cor01: #96bb7c;
    --cor02: #e74040;

    --font01: "montserrat", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font01);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    padding: 10px; 
}

header nav {
    display: flex;
    margin: 8px 0;
    justify-content: space-between;
    align-items: center;
    gap: 13%;
}

header ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

header a {
    text-decoration: none;
    color: var(--cor01);
    font-weight: bold;
}

header a:hover {
    color: var(--cor02);
    transform: translate(-2px, -2px);
}
.buttons_access {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.buttons_access button {
    border-radius: 5px;
    padding: 10px;
    background-color: var(--cor01);
    color: white;
    border: none;
    cursor: pointer;
}

.sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.sections__text {
    font-size: .9rem;
    margin-bottom: 10px;
}

.sections__text--green {
    color: var(--cor01);
    font-weight: bold;
}

.sections__image {
    max-width: 300px;
    margin: 20px 0 80px 0;
    text-align: center;
}

.sections__title {
    font-size: 2.5em;
    margin-bottom: 10px;
    font-weight: bold;
}

.sections__button {
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: var(--cor01);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.sections_button--red {
    background-color: var(--cor02);
}

.sections__button:hover {
    background-color: var(--cor02);
    transform: translate(-2px, -2px);
    cursor: pointer;
}

.sct_apresentation__button--learn {
    background-color: transparent;
    border: 1px solid var(--cor01);
    color: var(--cor01)
}

.card_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}   

.card_box__item {
    background-color: var(--cor01);
    max-width: 80%;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.card_box__item h3 {
    margin: 5px 0;
    font-size: 1.5em;
}

.card_box__item p {
    margin: 5px 0;
    font-size: 1em;
}

.card_box__item img {
    max-width: 100%;
}

.line {
    width: 50px;
    height: 2px;
    background-color: var(--cor02);
    text-align: left;
}

.line--big {
    min-width: 20%; 
    height: 10px;
    background-color: var(--cor02);
    margin: 20px 0;
}

.sections__image--logos {
    max-width: 100%;
    height: auto;
}

#sct_gestao_baldes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 2px solid var(--cor01);
    border-radius: 10px;
    margin: 20px;
}

#sct_gestao_baldes h2, p, h3, h4, form {
    margin: 10px;
}

#sct_gestao_baldes input {
    padding: 10px;
    background-color: var(--cor01);
    color: var(--cor02);
    font-weight: bolder;
    border: none;
    margin: 5px 0 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--cor01);
    color: white;
}

.footer__bottom {
    margin-top: 20px;
    font-size: 0.8rem;
}